@using Microsoft.Extensions.Options
@inject IOptions<RentalEquipmentCapstone.Data.StripeSettings> Stripe
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Charge" asp-controller="Home" method="POST">
        <article>
            <label>Amount: $5.00</label>
        </article>
        @*<script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-keyboard="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Sample Charge">
        </script>*@
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                Stripe.setPublishableKey('PUBLISHABLE_KEY');
                data-key= "@Stripe.Value.PublishableKey"
                data-description="Sample Charge"
                data-amount="500"
                data-locale="auto">
        </script>
        <br />
        <br />
    </form>
    <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="business" value="TVDQBBF9V8GGW" />
        <input type="hidden" name="item_name" value="Support Local Events for Powerlifting and Calisthenics" />
        <input type="hidden" name="currency_code" value="USD" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
</div>
