@using Microsoft.Extensions.Options
@inject IOptions<RentalEquipmentCapstone.Data.StripeSettings> Stripe
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Charge" asp-controller="Home" method="POST">
        <article>
            <label>Deposit Fee: $500.00</label>
        </article>
        @*<script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-keyboard="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Sample Charge">
        </script>*@
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                Stripe.setPublishableKey('PUBLISHABLE_KEY');
                data-key= "@Stripe.Value.PublishableKey"
                data-description="Sample Charge"
                data-amount="50000"
                data-locale="auto">
        </script>
        <br />
        <br />
    </form>
    <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="business" value="TVDQBBF9V8GGW" />
        <input type="hidden" name="item_name" value="Support Local Events for Powerlifting and Calisthenics" />
        <input type="hidden" name="currency_code" value="USD" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
</div>

<bold>
    <center>
        <h1>Introduction</h1>
        <br />

        <h5>Barbell Home</h5>
        <p>text text text</p>
       
        <br />

        <p>
          text text text
        </p>
        <br />
        <h3>Products</h3>
        <p>Bench Rental</p>
        <p>Dumbbell Rental</p>
        <p>Plate Rental</p>
        <p>Barbell Rental</p>
        <p>Rack Rental</p>
        <br />
        <h3>Contact</h3>
        <h6>Barbell at Home</h6>
        <h6>Email: BarbellAtHome@gmail.com</h6>
        <h6>Phone: 012-345-6789</h6>



    </center>

</bold>
