
@{
    Layout = null;
}

<!DOCTYPE html>
<div class="text-center">
    <bold>
    </bold>
</div>
<br />
<html>
<head>
 
    <meta name="viewport" content="width=device-width" />
    <title>Charge</title>
</head>
<body>

    <center>
        <img src="~/images/thankyou2.jpg" width=500px height=300px />
        <h1 id="h1">INVOICE</h1>
        <h1>PAYMENT COMPLETED</h1>
        <p>Your Order Has Been Recieved- Our Team Deliver The Equipment in 3-5 Business Days</p>
        <div>
            <a asp-action="Index">Back to Home</a>
        </div>
    </center>
</body>
</html>
