@using Microsoft.Extensions.Options
@inject IOptions<RentalEquipmentCapstone.Data.StripeSettings> Stripe
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <center>
        <h3>Checkout Page</h3>
        <div class="text-center">


            <table cellpadding="2" cellspacing="2" border="1" align="center">
                <tr>
                    <th>TOTAL AMOUNT TO PAY</th>
                </tr>
                <tr>
                    <td>
                        @ViewBag.total
                    </td>
                </tr>
            </table>
            <br />
            <form asp-action="Charge" asp-controller="Checkout" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        Stripe.setPublishableKey('PUBLISHABLE_KEY');
                        data-key="@Stripe.Value.PublishableKey"
                        data-description="Sample Charge"
                        data-amount="50000"
                        data-locale="auto">
                </script>
            </form>

</center>

</body>
</html>