@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <center>
        <h1>Products Page</h1>
        <table border="5" width="100%" cellpadding="4" cellspacing="3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Photo</th>
                    <th>Price</th>
                    <th>Buy</th>
                </tr>
            </thead>
            @foreach (var product in ViewBag.products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td><img src="~/images/@product.Photo" width="20%" /></td>
                    <td>@product.Price</td>
                    <td align="center">
                        <a asp-controller="cart" asp-action="buy" asp-route-id="@product.Id">Rent Now</a>
                    </td>
                </tr>
            }

        </table>
    </center>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
</body>
</html>
